<div class="text-center">
    <h1 class="display-4 border-bottom pb-3 mb-3">Person</h1>
</div>

<div class="text-center">
    @*<p><a asp-controller="Person" asp-action="Get" class="btn btn-info btn-width">Get</a></p>*@
    <p><a asp-controller="Person" asp-action="Create" class="btn btn-success btn-width">Create</a></p>
    @*<p><a asp-controller="Person" asp-action="Update" class="btn btn-warning btn-width">Update</a></p>*@
    @*<p><a asp-controller="Person" asp-action="Delete" class="btn btn-danger btn-width">Delete</a></p>*@
</div>

<div class="text-center">
    <h1 class="display-4 border-bottom border-top pb-3 pt-3 mb-3">People</h1>
</div>


<div class="text-center">
    <p><a asp-controller="People" asp-action="Get" class="btn btn-info btn-width">Get</a></p>
</div>